<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.j.new2" >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RSSReader"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="RSSReader" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page2"
            android:label="@string/title_activity_page2" >
        </activity>
    </application>

</manifest>
